@import '../../styles/mixins';

.container {
  position: relative;
  width: 427px;
  height: 260px;
  overflow: visible;
}

.base {
  display: block;
}

.eyeLeft {
  position: absolute;
  left: 58px;
  top: -25px;
  pointer-events: none;
}

.eyeRight {
  position: absolute;
  right: 62px;
  top: -25px;
  pointer-events: none;
}

.smile {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  pointer-events: none;
}

.emotionLeft {
  position: absolute;
  left: 78px;
  top: 25px;
  pointer-events: none;
}

.emotionRight {
  position: absolute;
  right: 83px;
  top: 25px;
  pointer-events: none;
}

.handleSupport {
  position: absolute;
  top: 57px;
  right: -17px;
}

.handle {
  position: absolute;
  top: 25px;
  right: -44px;
}

.handLeft {
  position: absolute;
  left: -2px;
  top: 175px;
}

.handRight {
  position: absolute;
  right: -2px;
  top: 175px;
}

.foots {
  position: absolute;
  left: 10%;
  bottom: 0px;
}
