@import '../../shared/styles/variables';
@import '../../shared/styles/extends';
@import '../../shared/styles/mixins';


.container {
  @include flex($align: center, $justify: center);
  position: relative;
}

.table {
  @include flex($align: center, $justify: center);
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 999;

  &_title {
    @include text-stroke(10px, $black-dark);
    @extend %poetsen-55;
    position: absolute;
    paint-order: stroke fill;
    transform: translateX(-50%);
    top: -20px;
    color: $yellow-bright;
    text-shadow: 0 4px 4px $black;
  }

  &_sum {
    position: absolute;
    @include text-stroke(2px, $black-dark);
    @extend %bungee-30-right;
    color: $white;
    top: 50px;
    right: 45%;
    transform: translate(50%);
  }

  &_shine {
    @include size($w: 200%, $h: calc(100% + 16px));
    position: absolute;
    left: -100%;
    top: -8px;
    background: $gradient-gloss;
    filter: blur(2px);
  }
}
