@import '../../styles/variables';
@import '../../styles/extends';
@import '../../styles/mixins';

.container {
  @include flex($align: center, $justify: center);
  position: relative;
}

.table {
  @include flex($align: center, $justify: center);
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 1000;

  &_title {
    @include text-stroke(10px, $black-dark);
    @extend %poetsen-55;
    position: absolute;
    paint-order: stroke fill;
    transform: translateX(-50%);
    top: -20px;
    color: $yellow-bright;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 100);
  }

  &_sum {
    position: absolute;
    @include text-stroke(2px, $black-dark);
    @extend %bungee-30-right;
    color: $white;
    top: 50px;
    right: 45%;
    transform: translate(50%);
  }
}

.table_shine {
  position: absolute;
  left: -100%;
  top: -8px;
  width: 200%;
  height: calc(100% + 16px);
  background: linear-gradient(115deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 45%, rgba(255,255,255,0) 60%);
  filter: blur(2px);
  pointer-events: none;
}
