@import './variables';

/* Pocket Monk */
%pocket-monk-40 {
  font-family: $font-pocket-monk;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 106%;
  letter-spacing: 0.035em;
  text-align: center;
  vertical-align: middle;
}

%pocket-monk-45 {
  font-family: $font-pocket-monk;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  line-height: 72%;
  letter-spacing: 0em;
  text-align: center;
  vertical-align: middle;
}

/* Bungee */
%bungee-14 {
  font-family: $font-bungee;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.11em;
  text-align: center;
}

%bungee-20 {
  font-family: $font-bungee;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: center;
  vertical-align: middle;
}

%bungee-22 {
  font-family: $font-bungee;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: center;
  vertical-align: middle;
}

%bungee-25 {
  font-family: $font-bungee;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  line-height: 22.5px;
  letter-spacing: 0em;
  text-align: center;
  vertical-align: middle;
}

%bungee-30-right {
  font-family: $font-bungee;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: right;
  vertical-align: middle;
}

/* Poetsen One */
%poetsen-55 {
  font-family: $font-poetsen-one;
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
  line-height: 72%;
  letter-spacing: 0em;
  text-align: center;
  vertical-align: middle;
}
