@import '../styles/variables';

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: $blue-bright;
  background: $background;
  font-family: $font-pocket-monk;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

