@use '@/shared/styles/variables' as *;
@use '@/shared/styles/extends' as *;
@use '@/shared/styles/mixins' as *;

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  color: $blue-bright;
  background: $background;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}