@import '../styles/variables';

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: $blue-bright;
  background: $background;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 105px);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
