@import '../shared/styles/variables';
@import '../shared/styles/mixins';

/* Removed :root CSS variables. Use SCSS variables from shared/styles/_variables.scss */

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  color: $blue-bright;
  background: $background;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  @include flex($align: center, $justify: center);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
