@import '../styles/mixins';

.container {
  @include flex($align: center, $justify: center);
  min-height: 100vh;
}

.main {
  @include flex($align: flex-start, $justify: space-between, $direction: column);
  width: 100%;
}