.crown {
  position: absolute;
  left: 20px;
  top: 20%;
  z-index: 800;
}

.coinSmile1 {
  position: absolute;
  left: 75px;
  top: 30%;
  z-index: 800;
}

.coinSmile2 {
  position: absolute;
  left: 30px;
  top: 70%;
  z-index: 1;
}

.coinArrow1 {
  position: absolute;
  top: 20%;
  right: -5;
  z-index: 1000;
}

.coinArrow2 {
  position: absolute;
  top: 60%;
  left: 30%;
  z-index: 1000;
}

.diamond {
  position: absolute;
  top: 35%;
  right: -12;
  z-index: 1000;
}

.cherry {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1000;
}

.seven1 {
  position: absolute;
  top: 80%;
  left: 30%;
  z-index: 800;
}

.seven2 {
  position: absolute;
  top: 75%;
  right: 2%;
  z-index: 1;
}

.lemon {
  position: absolute;
  top: 72%;
  right: 15%;
  z-index: 1000;
}
