.crown {
  position: absolute;
  left: 20px;
  top: 20%;
}

.coinSmile1 {
  position: absolute;
  left: 75px;
  top: 30%;
}

.coinSmile2 {
  position: absolute;
  left: 20px;
  top: 80%;
  z-index: 999;
}

.coinArrow1 {
  position: absolute;
  top: 15%;
  right: -5;
}

.coinArrow2 {
  position: absolute;
  top: 65%;
  left: 30%;
}

.diamond {
  position: absolute;
  top: 30%;
  right: -12;
}

.cherry {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 999;
}

.seven1 {
  position: absolute;
  top: 80%;
  left: 40%;
}

.seven2 {
  position: absolute;
  top: 70%;
  right: 10%;
}

.lemon {
  position: absolute;
  top: 85%;
  right: 30%;
  z-index: 999;
}
