@import '../../styles/mixins';

.container {
  @include flex($align: center, $justify: center, $direction: column);
  width: 100%;
}

.clouGreenBackground {
  @include size($w: 100%, $h: 100%);
  position: absolute;
  background: url('../../assets/images/cloud-green.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  bottom: 0px;
}

.cloudWhiteBackground {
  @include size($w: 100%, $h: 252px);
  position: absolute;
  background: url('../../assets/images/cloud-2.png');
  background-size: contain;
  background-position: center;
  bottom: 0;
  z-index: 10;
}

.cloudLeft {
  @include size($w: 482px, $h: 454px);
  position: absolute;
  background: url('../../assets/images/cloud-1.png');
  background-repeat: no-repeat;
  left: 0;
  bottom: 40px;
}

.cloudRight {
  @include size($w: 482px, $h: 454px);
  position: absolute;
  background: url('../../assets/images/cloud-3.png');
  background-repeat: no-repeat;
  right: 0;
  bottom: 40px;
}