@import '../../styles/variables';
@import '../../styles/extends';
@import '../../styles/mixins';

.container {
  @include flex($align: center, $justify: center, $direction: column);
  min-width: 100%;
}

.label {
  @extend %bungee-14;
  @include text-stroke(1.5px, #000000);
  paint-order: stroke fill;
  text-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
  color: $primary;
  margin-bottom: 25px;
  z-index: 999;
}

.elements {
  @include flex($align: center, $justify: center);
  gap: 12.5px;
  z-index: 999;
}

.spin {
  @include flex($align: center, $justify: center);
  @include size($w: 100%, $h: 277px);
  background: url('../../assets/images/tokiocity.png');
  background-position: center;
  bottom: 0;
}