@import '../../shared/styles/variables';
@import '../../shared/styles/extends';
@import '../../shared/styles/mixins';

.container {
  position: relative;
  width: 427px;
  height: 262px;
  overflow: visible;
  margin-bottom: 20px;
  z-index: 999;
}

.base {
  @include flex($align: center, $justify: center);
  @include size($w: 427px, $h: 226px);
  background: $blue-bright;
  border-radius: 30px;

  &::after {
    @include size($w: 427px, $h: 234px);
    content: '';
    border: 5px solid $black;
    position: absolute;
    border-radius: 35px;
    background: $blue-sky;
    z-index: -1;
  }
}

.reels {
  @include flex($align: center, $justify: space-between);
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  gap: 10px;
}

.reelWindow {
  @include flex($align: center, $justify: center);
  @include size($w: 80px, $h: 142px);
  background: $white-light;
  border: 3px solid $black-dark;
  border-radius: 11px;
}

.eyeLeft {
  position: absolute;
  left: 58px;
  top: -25px;
  pointer-events: none;
}

.eyeRight {
  position: absolute;
  right: 62px;
  top: -25px;
  pointer-events: none;
}

.smile {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  pointer-events: none;
}

.emotionLeft {
  position: absolute;
  left: 78px;
  top: 25px;
  pointer-events: none;
}

.emotionRight {
  position: absolute;
  right: 83px;
  top: 25px;
  pointer-events: none;
}

.handleSupport {
  position: absolute;
  top: 57px;
  right: -27px;
}

.handleActive {
  position: absolute;
  top: 86px;
  right: -54px;
}

.handleDizactive {
  position: absolute;
  top: 25px;
  right: -54px;
}

.handLeft {
  position: absolute;
  left: -10px;
  top: 175px;
}

.handRight {
  position: absolute;
  right: -10px;
  top: 175px;
}

.foots {
  position: absolute;
  left: 10%;
  bottom: -8px;
}
