@import '../../shared/styles/variables';
@import '../../shared/styles/extends';
@import '../../shared/styles/mixins';

.container {
  @include flex($align: center, $justify: center, $direction: column);
  height: 500px;
}

.bg {
  @include size($w: 250px, $h: 140px);
  position: absolute;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.border1 {
  position: absolute;
  left: 50%;
  top: -3px;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 10;
}

.border2 {
  position: absolute;
  left: 50%;
  bottom: -31px;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: -2;
}

.capsuleWrap {
  position: absolute;
  left: 0;
  top: 10px;
  display: inline-block;
  z-index: 800;
}

