@import '../../styles/variables';
@import '../../styles/extends';
@import '../../styles/mixins';

.container {
  position: relative;
  width: 250px;
  height: 140px;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  margin-top: 50px;
}

.border1 {
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 10;
}

.border2 {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 10;
}

.capsuleWrap {
  position: absolute;
  left: 5;
  top: -30px;
  display: inline-block;
  z-index: 999;
}

