@import '../../shared/styles/variables';
@import '../../shared/styles/extends';
@import '../../shared/styles/mixins';

.container {
  @include size($w: 250px, $h: 140px);
  position: absolute;
  bottom: 20%;
  transform: translateX(-50%);
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.border1 {
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 10;
}

.border2 {
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 9;
}

.capsuleWrap {
  position: absolute;
  left: 0;
  top: -20px;
  display: inline-block;
  z-index: 500;
}

