@import '../../styles/variables';
@import '../../styles/extends';
@import '../../styles/mixins';

.wrapper {
  position: relative;
  @include size($w: 200px, $h: 62px);
}

.input {
  @extend %bungee-20;
  @include size($w: 100%, $h: 100%);
  padding: 20px 17px 20px 50px;
  border: 3px solid $black-dark;
  border-radius: 16px;
  outline: none;
  background: $dusty-tape;
  color: $white;
  box-shadow: inset 0 5px 0 $smoked-taupe;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 1);
}

.input::placeholder {
  color: $white;
  opacity: 0.8;
}

.inputToken {
  @include flex($align: center, $justify: center);
  @include size($w: 24px, $h: 24px);
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background: $red-bright;
  border: 4px solid $black-dark;
  box-sizing: content-box;
  color: $red-dark;
  font-family: $font-bungee;
  font-size: 14px;
  box-shadow: 0 4px 4px $smoked-taupe;
}

.forwardShadow {
  @include size($w: 100%, $h: 100%);
  position: absolute;
  left: 0;
  top: -5;
  border-radius: 16px;
  background: $iron-taupe;
  z-index: -1;
}
