@import '../../styles/variables';
@import '../../styles/extends';
@import '../../styles/mixins';

.button {
  @include flex($align: center, $justify: center);
  @include size($w: 50px, $h: 50px);
  border-radius: 50%;
  border: none;
  background: none;
  cursor: pointer;
  perspective: 600px;
  z-index: 999;
}

.secondIcon {
  position: absolute;
  top: 14;
  left: 17px;
}
