@import '../../shared/styles/variables';
@import '../../shared/styles/extends';
@import '../../shared/styles/mixins';

.inputToken {
  @include flex($align: center, $justify: center);
  @include size($w: 24px, $h: 24px);
  transform: translateY(-50%);
  border-radius: 50%;
  background: $red-bright;
  border: 4px solid $black-dark;
  box-sizing: content-box;
  color: $red-dark;
  font-family: $font-bungee;
  font-size: 14px;
  box-shadow: 0 4px 4px $black-dark;
}